<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>API Tap</title>
  <link rel="stylesheet" href="coderay.css" />
</head>
<body>
<%= yield %>
</body>
</html>
